# Data Exploration with Pandas

In [0]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [72]:
# Um Daten direkt zu laden
!git clone https://github.com/Dataweekends/zero_to_deep_learning_video.git

fatal: destination path 'zero_to_deep_learning_video' already exists and is not an empty directory.

In [0]:
df = pd.read_csv('zero_to_deep_learning_video/data/titanic-train.csv')

In [74]:
type(df)

pandas.core.frame.DataFrame

In [75]:
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [0]:
df.info()

In [0]:
df.describe()

### Indexing

In [0]:
df.iloc[3]

In [0]:
df.loc[0:4,'Ticket']

In [0]:
df['Ticket'].head()

In [0]:
df[['Embarked', 'Ticket']].head()

### Selections

In [0]:
df[df['Age'] > 70]

In [0]:
df['Age'] > 70

In [0]:
df.query("Age > 70")

In [0]:
df[(df['Age'] == 11) & (df['SibSp'] == 5)]

In [0]:
df[(df.Age == 11) | (df.SibSp == 5)]

In [0]:
df.query('(Age == 11) | (SibSp == 5)')

### Unique Values

In [0]:
df['Embarked'].unique()

### Sorting

In [0]:
df.sort_values('Age', ascending = False).head()

### Aggregations

In [0]:
df['Survived'].value_counts()

In [0]:
df['Pclass'].value_counts()

In [0]:
df.groupby(['Pclass', 'Survived'])['PassengerId'].count()

In [0]:
df['Age'].min()

In [0]:
df['Age'].max()

In [0]:
df['Age'].mean()

In [0]:
df['Age'].median()

In [0]:
mean_age_by_survived = df.groupby('Survived')['Age'].mean()
mean_age_by_survived

In [0]:
std_age_by_survived = df.groupby('Survived')['Age'].std()
std_age_by_survived

### Merge

In [0]:
df1 = mean_age_by_survived.round(0).reset_index()
df2 = std_age_by_survived.round(0).reset_index()

In [0]:
df1

In [0]:
df2

In [0]:
df3 = pd.merge(df1, df2, on='Survived')

In [0]:
df3

In [0]:
df3.columns = ['Survived', 'Average Age', 'Age Standard Deviation']

In [0]:
df3

### Pivot Tables

In [0]:
df.pivot_table(index='Pclass',
               columns='Survived',
               values='PassengerId',
               aggfunc='count')

### Correlations

In [0]:
df['IsFemale'] = df['Sex'] == 'female'

In [0]:
correlated_with_survived = df.corr()['Survived'].sort_values()
correlated_with_survived

In [0]:
%matplotlib inline

In [0]:
correlated_with_survived.iloc[:-1].plot(kind='bar',
                                        title='Titanic Passengers: correlation with survival')

# Visual Data Exploration with Matplotlib

In [0]:
data1 = np.random.normal(0, 0.1, 1000)
data2 = np.random.normal(1, 0.4, 1000) + np.linspace(0, 1, 1000)
data3 = 2 + np.random.random(1000) * np.linspace(1, 5, 1000)
data4 = np.random.normal(3, 0.2, 1000) + 0.3 * np.sin(np.linspace(0, 20, 1000))

In [0]:
data = np.vstack([data1, data2, data3, data4]).transpose()

In [0]:
df = pd.DataFrame(data, columns=['data1', 'data2', 'data3', 'data4'])
df.head()

### Line Plot

In [0]:
df.plot(title='Line plot')

In [0]:
plt.plot(df)
plt.title('Line plot')
plt.legend(['data1', 'data2', 'data3', 'data4'])

### Scatter Plot

In [0]:
df.plot(style='.')

In [0]:
_ = df.plot(kind='scatter', x='data1', y='data2',
            xlim=(-1.5, 1.5), ylim=(0, 3))

### Histograms

In [0]:
df.plot(kind='hist',
        bins=50,
        title='Histogram',
        alpha=0.6)

### Cumulative distribution

In [0]:
df.plot(kind='hist',
        bins=100,
        title='Cumulative distributions',
        normed=True,
        cumulative=True,
        alpha=0.4)

### Box Plot

In [0]:
df.plot(kind='box',
        title='Boxplot')

### Subplots

In [0]:
fig, ax = plt.subplots(2, 2, figsize=(5, 5))

df.plot(ax=ax[0][0],
        title='Line plot')

df.plot(ax=ax[0][1],
        style='o',
        title='Scatter plot')

df.plot(ax=ax[1][0],
        kind='hist',
        bins=50,
        title='Histogram')

df.plot(ax=ax[1][1],
        kind='box',
        title='Boxplot')

plt.tight_layout()

### Pie charts

In [0]:
gt01 = df['data1'] > 0.1
piecounts = gt01.value_counts()
piecounts

In [0]:
piecounts.plot(kind='pie',
               figsize=(5, 5),
               explode=[0, 0.15],
               labels=['<= 0.1', '> 0.1'],
               autopct='%1.1f%%',
               shadow=True,
               startangle=90,
               fontsize=16)

### Hexbin plot

In [0]:
data = np.vstack([np.random.normal((0, 0), 2, size=(1000, 2)),
                  np.random.normal((9, 9), 3, size=(2000, 2))])
df = pd.DataFrame(data, columns=['x', 'y'])

In [0]:
df.head()

In [0]:
df.plot()

In [0]:
df.plot(kind='kde')

In [0]:
df.plot(kind='hexbin', x='x', y='y', bins=100, cmap='rainbow')

# Unstructured data

### Images

In [0]:
from PIL import Image

In [0]:
img = Image.open('../data/iss.jpg')
img

In [0]:
type(img)

In [0]:
imgarray = np.asarray(img)

In [0]:
type(imgarray)

In [0]:
imgarray.shape

In [0]:
imgarray.ravel().shape

In [0]:
435 * 640 * 3

### Sound

In [0]:
from scipy.io import wavfile

In [0]:
rate, snd = wavfile.read(filename='../data/sms.wav')

In [0]:
from IPython.display import Audio

In [0]:
Audio(data=snd, rate=rate)

In [0]:
len(snd)

In [0]:
snd

In [0]:
plt.plot(snd)

In [0]:
_ = plt.specgram(snd, NFFT=1024, Fs=44100)
plt.ylabel('Frequency (Hz)')
plt.xlabel('Time (s)')

# Data Exploration Exercises

## Exercise 1
- load the dataset: `../data/international-airline-passengers.csv`
- inspect it using the `.info()` and `.head()` commands
- use the function [`pd.to_datetime()`](http://pandas.pydata.org/pandas-docs/version/0.20/generated/pandas.to_datetime.html) to change the column type of 'Month' to a datatime type
- set the index of df to be a datetime index using the column 'Month' and the `df.set_index()` method
- choose the appropriate plot and display the data
- choose appropriate scale
- label the axes

## Exercise 2
- load the dataset: `../data/weight-height.csv`
- inspect it
- plot it using a scatter plot with Weight as a function of Height
- plot the male and female populations with 2 different colors on a new scatter plot
- remember to label the axes

## Exercise 3
- plot the histogram of the heights for males and for females on the same plot
- use alpha to control transparency in the plot comand
- plot a vertical line at the mean of each population using `plt.axvline()`

## Exercise 4
- plot the weights of the males and females using a box plot
- which one is easier to read?
- (remember to put in titles, axes and legends)

## Exercise 5
- load the dataset: `../data/titanic-train.csv`
- learn about scattermatrix here: http://pandas.pydata.org/pandas-docs/stable/visualization.html
- display the data using a scattermatrix